<style>
  a:hover {
  /* text-decoration: underline; */
  font-weight:normal;
  font-size: 1em;
  color: #FF8b00;
  }

  nav {
    margin-bottom: 1em; /* Adds space below the navigation bar */
  }

  a.nav-item {
    font-size: 1em;
    display: inline-block; /* Makes the width and height properties effective */
    width: 6em; /* Fixed width in em */
    height: 1.6em; /* Height in em */
    line-height: 1.6em; /* Vertically centers the text, same as height */
    text-align: center; /* Horizontally centers the text */
    margin: 0.05em; /* Adds some space around each item */
    border: 1px solid #fff; /* Adds a border */
    border-radius: 0.5em;
    background-color: #fff; /* Adds a background color */
    box-sizing: border-box; /* Includes padding and border in the width and height */
  }

  a.nav-item:hover {
    font-weight: normal;
    font-size: 1em;
    color: #FF8B00;
  }
</style>

<nav align="right">
    {% for item in site.data.navigation %}
      <a class="nav-item" href="{{ item.link }}" {% if page.url == item.link %}style="color: #3c3535;"{% endif %}> {{ item.name }}
      </a>
    {% endfor %}
</nav>
