<style>

nav {
    position: fixed; /* Keeps the navigation bar fixed at the top */
    top: 0; /* Aligns the navigation bar at the very top */
    width: 100%; /* Ensures the navigation bar spans the full width of the page */
    background-color: #fff; /* Adds a background color, can be adjusted */
    z-index: 1000; /* Ensures the nav bar stays on top of other elements */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
    margin-bottom: 3em; /* Removes any bottom margin */
    max-width: 960px;
  }
</style> 

<nav align="right">
    {% for item in site.data.navigation %}
      <a class="nav-item" href="{{ item.link }}" {% if page.url == item.link %}style="color: #3c3535;"{% endif %}> {{ item.name }}
      </a>
    {% endfor %}
</nav>