---
---

@import "{{ site.theme }}";

.wrapper {
    width:860px;
    margin:0 auto;
  }

  header {
    width:180px;
    float:left;
    position:fixed;
    -webkit-font-smoothing:subpixel-antialiased;
  }

  footer {
    width:180px;
    float:left;
    position:fixed;
    bottom:50px;
    -webkit-font-smoothing:subpixel-antialiased;
  }

  section {
    width:630px;
    float:right;
    padding-bottom:50px;
  }
  
  @media print, screen and (max-width: 960px) {
  
    div.wrapper {
      width:auto;
      margin:0;
    }
  
    header, section, footer {
      float:none;
      position:static;
      width:auto;
    }
  
    header {
      padding-right:0px;
    }
  
    section {
      border:1px solid #e5e5e5;
      border-width:1px 0;
      padding:20px 0;
      margin:0 0 20px;
    }
  
    header a small {
      display:inline;
    }
  
    header ul {
      position:absolute;
      right:50px;
      top:52px;
    }
  }

  .btn-href {
    display: inline-block;
    width: 3rem;  /* or use a relative unit like 3rem */
    height: 1.2rem; /* or use a relative unit like 3rem */
    line-height: 1.2rem; /* to vertically center the text */
    /* padding: 0.1rem 0.2rem; */
    /* border: none; */
    border-radius: 0.4rem;
    border: 0.05rem solid #003D7C;
    text-decoration: none;
    /* font-weight: bold; */
    text-align: center;
    cursor: pointer;
    /* transition: background-color 0.3s; */
    transition-duration: 0.6s;
    background-color: #fff;
}

.btn-href:hover {
    background-color: #f3ca9f; /* Slightly lighter shade for hover effect */

    border: 0.05rem solid #EF7C00;
}
